@font-face {
    font-family: "Gotham Pro Medium";
    src: url("../fonts/Gotham Pro/GothaProMed.otf");
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../fonts/Gotham Pro/GothaProBol.otf");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf");
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../fonts/Proxima Nova/Proxima Nova Semibold.otf");
}

.collapse {
    display: none;
}
.collapse.show {
    display: block;
}
.navbar-collapse {
    position: static;
}
.navbar {
    position: static;
}



=.collapse.show > .navbar-nav::after {
    position: absolute;
    content: "";
    background-color: white;
    z-index: 1;
    top: 500px;
    right: 0;
    bottom: 0;
    left: 0;
}
=.menu.open > .language {
    font-family: "Gotham Pro Medium";
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    top: 15px;
    right: 29px;
    padding: 0;
}



.container {
    color: #4a4a4a;
    font-family: Gotham Pro Medium;
    font-size: 12px;
    text-align: center;
    position: relative;
    outline: 1px solid green;
    overflow: hidden;
}

.navbar {
    padding: 0;
}

.burger-line {
    position: fixed;
    background-color: white;
    z-index: 25;
    width: 510px;
}

.burger {
    display: none;
    background: none;
    padding: 0;
    border: none;
    width: 27px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger:focus {
    outline: none;
}

.burger > span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 8px;
}

.burger span:nth-child(4) {
    top: 16px;
}

.burger.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.menu {
    text-align: left;
}

.navbar-nav {
    margin: 40px 0;
    display: block;
}

.navbar-nav > .nav-item {
    display: inline-block;
}

.navbar-nav > .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a4a4a;
    padding: 0 2px;
    line-height: 1;
    margin: 0 15px;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #ab742d;
}

.navbar-nav > .active > .nav-link {
    color: #ab742d;
}

.navbar-nav > .language > .nav-link {
    margin-right: 0;
}

.social-sharing > a {
    text-decoration: none;
}

.social-sharing > a:hover {
    text-decoration: none;
}

.social-sharing > a + a {
    margin-left: 34px;
}

.social-sharing.dark {
    display: none;
}

@media (min-width: 1200px) {
    .language {
        margin-left: 180px;
    }
    .navbar-nav {
        margin-left: 231px;
    }
}

@media (max-width: 1199px) {
    .language {
        margin-left: 83px;
    }
    .navbar-nav {
        margin-left: 148px;
    }
}

@media (max-width: 991px) {
    .language {
        margin-left: 6px;
    }
    .navbar-nav {
        margin-left: -15px;
    }
}

@media (max-width: 767px) {
    .burger {
        display: block;
        margin-top: 25px;
        margin-bottom: 43px;
    }

    .menu {
        text-align: center;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        opacity: 0;
        -visibility: hidden;
        transition: opacity .35s .35s;
        z-index: 25;
    }

    .menu.open {
        opacity: 1;
    }

    .container:before {
         content: '';
         background: white;
         left: -55%;
         top: 0;
         width: 50%;
         height: 100%;
         position: absolute;
         transition: left .35s ease;
         z-index: 20;
     }

    .container:after {
         content: '';
         background: white;
         right: -55%;
         top: 0;
         width: 50%;
         height: 100%;
         position: absolute;
         transition: right .35s ease;
         z-index: 20;
    }

    .container.open:before {
        left: 0;
    }

    .container.open:after {
        right: 0;
    }

    .menu .nav-link {
        animation: fadeInRight .5s ease forwards;
        animation-delay: 1.35s;
    }




    @keyframes fadeInRight {
        0% {
        }
        100% {
        }
    }



    .navbar-nav {
        font-family: Gotham Pro Bold;
        font-size: 16px;
        text-align: center;
        margin: 0;
    }

    .navbar-nav > .nav-item {
        display: block;
        margin-bottom: 40px;
    }

    .navbar-nav > .nav-item:nth-last-child(2) {
        display: block;
        margin-bottom: 60px;
    }

    .navbar-nav > .nav-item > .nav-link {
        line-height: 1;
        letter-spacing: 0.5px;
        margin: 0;
    }

    .navbar-nav > .language {
        position: fixed;
        top: 40px;
        margin-left: 226px;
        width: 100%;
        font-family: "Gotham Pro Medium";
        font-size: 12px;
        letter-spacing: 1px;
    }

    .social-sharing.dark {
        display: inline;
    }
}
@media (max-width: 575px) {
    .burger-line {
        width: 560px;
        background: none;
    }

    .burger {
        margin-top: 30px;
    }
    .menu {
        top: 98px;
    }
    .navbar-nav > .nav-item {
        margin-bottom: 35px;
    }

    .navbar-nav > .language {
        width: 32px;
        top: 41px;
        right: 19px;
    }
}

h1 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    line-height: 0.89;
    color: white;
}
h5 {
    font-family: "Gotham Pro Medium";
    text-transform: uppercase;
    line-height: 0.95;
    color: white;
    margin-bottom: 0;
}
.banner {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .main-photo {
        background: url("../images/xl-main-photo.png");
        height: 643px;
        padding: 237px 241px;
    }
    .banner {
        padding: 45px 0;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 30px;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 287px;
        margin-top: 202px;
    }
}

@media (max-width: 1199px) {
    .main-photo {
        background: url("../images/l-main-photo.png");
        height: 544px;
        padding: 198px 200px;
    }
    .banner {
        padding: 41px 0 35px;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 17px;
    }

    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 226px;
        margin-top: 169px;
    }
}

@media (max-width: 991px) {
    .main-photo {
        background: url("../images/m-main-photo.png");
        height: 407px;
        padding: 122px 110px;
    }
    .banner {
        padding: 42px 0 34px;
    }
    h1 {
        font-size: 35px;
        letter-spacing: 1.2px;
        line-height: 0.92;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 193px;
        margin-top: 111px;
    }
}

@media (max-width: 767px) {
    .main-photo {
        background: url("../images/s-main-photo.png");
        height: 305px;
        padding: 80px 88px;
        margin-top: 86px;
    }
    .banner {
        padding: 40px 0 31px;
    }
    h1 {
        font-size: 26px;
        letter-spacing: 0.9px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 12px;
        letter-spacing: 0.9px;
    }
    .main-photo > .social-sharing {
        display: none;
    }
}

@media (max-width: 575px) {
    .main-photo {
        background: white;
        padding: 31px 0 0 0;
        margin-top: 0;
        height: 91px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
    }

    .banner {
        background: none;
        padding: 0;
    }

    h1 {
        font-size: 16px;
        line-height: 0.96;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        color: #4a4a4a;
    }

    h5 {
        font-size: 8px;
        line-height: 0.9;
        letter-spacing: 0.6px;
        color: #4a4a4a;
        margin-bottom: 4px;
    }
}

h3 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.9px;
    color: #4a4a4a;
}
h4 {
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    margin-bottom: 20px;
    color: #4a4a4a;
}

h3 + div {
    margin-top: 91px;
}

.office {
    position: relative;
}
.office > img {
    display: none;
}
.description {
    background-color: #f7f7f7;
    position: absolute;
    right: 0;
}
.description > p {
    font-family: "Proxima Nova Regular";
    line-height: 1.3em;
    color: #4a4a4a;
    font-size: 16px;
}
.description > button {
    font-family: "Proxima Nova Semibold";
    color: #51595b;
    font-size: 14px;
    line-height: 1em;
    background: none;
    border: solid 2px #4a4a4a;
}
.container > button {
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    line-height: 1em;
    color: #4a4a4a;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    background: none;
    border: solid 2px #4a4a4a;
    padding: 15px 50px;
}
.footer {
    background-color: #4a4a4a;
    padding: 0;
    line-height: .8px;
}
.footer > .nav {
    padding: 0;
    margin-top: 27px;
    margin-bottom: 21px;
}
.footer > .social-sharing {
    padding: 0;
    margin-top: 21px;
    margin-bottom: 19px;
    vertical-align: bottom;
}
.footer .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 0;
    margin: 0 15px;
    line-height: 1;
}
.footer .nav-item > .nav-link:hover {
    color: #ab742d;
}
.footer > .social-sharing > a + a {
    margin-left: 32px;
}

@media (min-width: 1200px) {
    h3 {
        margin: 70px;
    }
    .photo1 {
        background: url("../images/xl-photo-1.png");
        height: 508px;
        width: 730px;
    }
    .photo2 {
        background: url("../images/xl-photo-2.png");
        height: 508px;
        width: 730px;
        margin-top: 100px;
    }
    .description {
        padding: 50px 118px 50px 60px;
        height: 330px;
        top: 228px;
    }
    .description > p {
        margin-bottom: 86px;
    }
    .description > button {
        padding: 11px 27px;
    }
    .container > button {
        margin: 120px 350px 70px 410px;
    }
    .footer > .social-sharing {
        margin-left: 15px;
    }
}

@media (max-width: 1199px) {
    h3 {
        margin: 60px;
    }
    .photo1 {
        background: url("../images/l-photo-1.png");
        height: 382px;
        width: 530px;
    }
    .photo2 {
        background: url("../images/l-photo-2.png");
        height: 382px;
        width: 530px;
        margin-top: 80px;
    }
    .description {
        padding: 50px 57px 45px 50px;
        height: 280px;
        top: 132px;
    }
    .description > p {
        margin-bottom: 46px;
    }
    .description > button {
        padding: 8.5px 27px;
    }
    .container > button {
        margin: 100px 273px 70px 307px;
    }
    .footer > .social-sharing {
        margin-left: 45px;
    }
}

@media (max-width: 991px) {
    h3 {
        margin: 50px;
    }
    .photo1 {
        background: url("../images/m-photo-1.png");
        height: 277px;
        width: 390px;
    }
    .photo2 {
        background: url("../images/m-photo-2.png");
        height: 277px;
        width: 390px;
        margin-top: 76px;
    }
    .description {
        padding: 30px 17px 30px 30px;
        height: 239px;
        top: 73px;
    }
    .description > p {
        margin-bottom: 40px;
    }
    .container > button {
        margin: 95px 146px 60px 194px;
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 20px;
        letter-spacing: 0.7px;
        margin: 40px;
    }
    h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .photo1 {
        background: url("../images/s-photo-1.png");
        height: 208px;
        width: 330px;
    }
    .photo2 {
        background: url("../images/s-photo-2.png");
        height: 208px;
        width: 330px;
        margin-top: 60px;
    }
    .description {
        padding: 20px 55px 20px 25px;
        height: 160px;
        top: 78px;
    }
    .description > p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .description > button {
        font-family: "Proxima Nova Regular";
        font-size: 12px;
        color: #4a4a4a;
        padding: 7px 18px;
    }
    .container > button {
        font-size: 14px;
        padding: 10px 35px;
        margin: 80px 108px 51px 112px;
    }
    .footer {
        display: none;
    }
}

@media (max-width: 575px) {
    h3 {
        display: none;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .photo1 {
        display: none;
    }
    .photo2 {
        display: none;
    }
    .office > img {
        display: block;
    }
    =.container > img:first-child {
        margin-top: 92px;
    }
    .description {
        padding: 17px 15px 20px 24px;
        height: 150px;
        position: static;
    }
    .description > p {
        margin-bottom: 16px;
    }
    .description > button {
        font-family: "Proxima Nova Regular";
        font-size: 12px;
    }
    .container > button {
        margin: 40px 0 38px;
    }
}