/* font-family: "Gotham Pro Medium"; */
@font-face {
    font-family: "Gotham Pro Medium";
    src: url("../fonts/Gotham Pro/GothaProMed.otf");
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../fonts/Gotham Pro/GothaProBol.otf");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf");
}

.collapse {
    display: none;
}
.collapse.show {
    display: block;
}
.navbar-collapse {
    position: static;
}
.navbar {
    position: static;
}
.collapse.show > .navbar-nav::after {
    position: absolute;
    content: "";
    background-color: white;
    z-index: 1;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 0;
}
.collapsing {
    =position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}


.container {
    color: #4a4a4a;
    font-family: Gotham Pro Medium;
    font-size: 12px;
    outline: 1px solid red;
    text-align: center;
    position: relative;
}
.navbar {
    padding: 0;
}
.navbar-nav {
    margin: 40px auto;
}

.navbar-nav > .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a4a4a;
    padding: 0;
    margin: 0 15px;
    line-height: 1;
    transition: color linear 0.25s;
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #ab742d;
}
.navbar-nav > .active > .nav-link {
    color: #ab742d;
}
.navbar > .navbar-toggler {
    padding: 0;
    margin: 25px 0;
    border: none;
    outline: none;
}
@media (max-width: 767px) {
    .navbar-nav {
        float: none;
        font-family: Gotham Pro Bold;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-align: center;
        margin: 0;
    }
    .navbar-nav > .nav-item > .nav-link {
        line-height: 1;
        margin: 20px;
    }
}
@media (max-width: 575px) {
    .navbar > .navbar-toggler {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .language {
        margin-left: 50px;
    }
}
@media (min-width: 1200px) {
    .language {
        margin-left: 60px;
    }
}


.navbar-nav > .language > .nav-link {
    margin-right: 0;
}


h1 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    line-height: 0.89;
    color: white;
}
h5 {
    font-family: "Gotham Pro Medium";
    text-transform: uppercase;
    line-height: 0.95;
    color: white;
    margin-bottom: 0;
}
.banner {
    background-color: rgba(0, 0, 0, 0.3);
}
.social-sharing > a {
    text-decoration: none;
}
.social-sharing > a:hover {
    text-decoration: none;
}
.main-photo > .social-sharing > a + a {
    margin-left: 34px;
}
.social-sharing.dark {
    display: none;
}


@media (min-width: 1200px) {
    .main-photo {
        background: url("../images/xl-main-photo.png");
        height: 643px;
        padding: 237px 241px;
    }
    .banner {
        padding: 45px 0;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 30px;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 287px;
        margin-top: 202px;
    }
}

@media (max-width: 1199px) {
    .main-photo {
        background: url("../images/l-main-photo.png");
        height: 544px;
        padding: 198px 200px;
    }
    .banner {
        padding: 41px 0 35px;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 17px;
    }

    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 226px;
        margin-top: 169px;
    }
}

@media (max-width: 991px) {
    .main-photo {
        background: url("../images/m-main-photo.png");
        height: 407px;
        padding: 122px 110px;
    }
    .banner {
        padding: 42px 0 34px;
    }
    h1 {
        font-size: 35px;
        letter-spacing: 1.2px;
        line-height: 0.92;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .main-photo > .social-sharing {
        margin-left: 193px;
        margin-top: 111px;
    }
}

@media (max-width: 767px) {
    .main-photo {
        background: url("../images/s-main-photo.png");
        height: 305px;
        padding: 80px 88px;
    }
    .banner {
        padding: 40px 0 31px;
    }
    h1 {
        font-size: 26px;
        letter-spacing: 0.9px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 12px;
        letter-spacing: 0.9px;
    }
    .main-photo > .social-sharing {
        display: none;
    }
}

@media (max-width: 575px) {
    .main-photo {
        background: none;
        height: 100%;
        padding: 0 40px;
        margin-top: -42px;
    }
    .banner {
        background: none;
        padding: 0;
    }
    h1 {
        font-size: 16px;
        line-height: 0.96;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        color: #4a4a4a;
    }
    h5 {
        font-size: 8px;
        line-height: 0.9;
        letter-spacing: 0.6px;
        color: #4a4a4a;
    }
}


h3 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.9px;
    color: #4a4a4a;
}
h4 {
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    color: #4a4a4a;
}
.office {
    position: relative;
}
.office > img {
    display: none;
}
.description {
    background-color: #f7f7f7;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.description > p {
    font-family: "Proxima Nova Regular";
    color: #4a4a4a;
    font-size: 16px;
}
.description > button {
    font-family: "Helvetica Neue";
    color: #4a4a4a;
    font-size: 14px;
    background: none;
    border: solid 2px #4a4a4a;
}
.container > button {
    font-family: "Helvetica Neue";
    margin: 120px auto;
    padding: 15px;
    text-align: center;
}

@media (min-width: 1200px) {
    h3 {
        margin: 70px;
    }
    .photo1 {
        background: url("../images/xl-photo-1.png");
        height: 508px;
        width: 730px;
    }
    .photo2 {
        background: url("../images/xl-photo-2.png");
        height: 508px;
        width: 730px;
        margin-top: 100px;
    }
    .description {
        padding-top: 50px;
        padding-left: 60px;
        height: 330px;
        top: 228px;
    }
    .container > button {
        margin-top: 120px;
    }
}

@media (max-width: 1199px) {
    h3 {
        margin: 60px;
    }
    .photo1 {
        background: url("../images/l-photo-1.png");
        height: 382px;
        width: 530px;
    }
    .photo2 {
        background: url("../images/l-photo-2.png");
        height: 382px;
        width: 530px;
        margin-top: 80px;
    }
    .description {
        padding-top: 50px;
        padding-left: 50px;
        height: 280px;
        top: 132px;
    }
    .container > button {
        margin-top: 100px;
    }
}

@media (max-width: 991px) {
    h3 {
        margin: 50px;
    }
    .photo1 {
        background: url("../images/m-photo-1.png");
        height: 277px;
        width: 390px;
    }
    .photo2 {
        background: url("../images/m-photo-2.png");
        height: 277px;
        width: 390px;
        margin-top: 76px;
    }
    .description {
        padding-top: 30px;
        padding-left: 30px;
        height: 239px;
        top: 73px;
    }
    .container > button {
        margin-top: 95px;
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 20px;
        letter-spacing: 0.7px;
        margin: 40px;
    }
    .photo1 {
        background: url("../images/s-photo-1.png");
        height: 208px;
        width: 330px;
    }
    .photo2 {
        background: url("../images/s-photo-2.png");
        height: 208px;
        width: 330px;
        margin-top: 60px;
    }
    .description {
        padding-top: 20px;
        padding-left: 25px;
        height: 160px;
        top: 78px;
    }
    .container > button {
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    h3 {
        display: none;
    }
    h5 {
        margin-bottom: 34px;
    }
    .photo1 {
        display: none;
    }
    .photo2 {
        display: none;
    }
    .office > img {
        display: block;
    }
    .office > img:nth-child(2) {
        margin-top: 30px;
    }
    .description {
        padding-top: 17px;
        padding-left: 24px;
        height: 150px;
        position: static;
    }
    .container > button {
        margin-top: 40px;
    }
}


.footer {
    background-color: #4a4a4a;
    padding: 20px;
    line-height: .8px;
}
.footer .nav {
    padding: 0;
}
.footer .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 0;
    margin: 0 15px;
    line-height: 1;
}
.footer > .social-sharing {
    margin-left: 30px;
}
.footer > .social-sharing > a + a {
    margin-left: 32px;
}