@font-face {
    font-family: "Gotham Pro Medium";
    src: url("../fonts/Gotham Pro/GothaProMed.otf");
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../fonts/Gotham Pro/GothaProBol.otf");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf");
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../fonts/Proxima Nova/Proxima Nova Semibold.otf");
}

.container {
    color: #4a4a4a;
    font-family: Gotham Pro Medium;
    font-size: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    =outline: 1px solid blue;
}

.navbar {
    position: static;
    padding: 0;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.burger-line {
    position: fixed;
    background-color: white;
    z-index: 25;
    width: 510px;
}

.burger {
    display: none;
    background: none;
    padding: 0;
    border: none;
    width: 27px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.burger:focus {
    outline: none;
}

.burger > span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 8px;
}

.burger span:nth-child(4) {
    top: 16px;
}

.burger.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.menu {
    text-align: left;
}

.navbar-nav {
    margin: 40px 0 0 0;
    line-height: 1;
    display: block;
}

.navbar-nav > .nav-item {
    display: inline-block;
}

.navbar-nav > .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a4a4a;
    padding: 0 2px;
    line-height: 1;
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #ab742d;
}

.navbar-nav > .active > .nav-link {
    color: #ab742d;
}

.navbar-nav > .language > .nav-link {
    margin-right: 0;
}

.social-sharing > a {
    text-decoration: none;
}

.social-sharing > a:hover {
    text-decoration: none;
}

.social-sharing > a + a {
    margin-left: 34px;
}

.social-sharing.dark {
    display: none;
}

.intro {
    margin-top: 40px;
}

.intro.no-photo {
    display: none;
}

h1 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    line-height: 0.89;
    color: white;
}

h5 {
    font-family: "Gotham Pro Medium";
    text-transform: uppercase;
    line-height: 0.95;
    color: white;
    margin-bottom: 0;
}

.banner {
    background-color: rgba(0, 0, 0, 0.3);
}

h3 {
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.9px;
    color: #4a4a4a;
}

h4 {
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #4a4a4a;
}

.about-h3-top,
.about-h3-bottom {
    display: block;
}

.services > div:first-child {
    background: #f7f7f7;
}

.services ul {
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.services ul > li {
    padding-left: 8px;
}

.comment {
    background-color: #f7f7f7;
    margin: 0 auto 40px;
}

.author {
    float: left;
}

.author > a {
    font-family: "Proxima Nova Semibold";
    color: #4a4a4a;
    font-size: 14px;
    text-decoration: underline;
}

.starbox {
    margin-bottom: 10px;
}

.description.review {
    position: static;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

.comment h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.description.review > p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 0;
}

form {
    font-size: 14px;
    color: #9b9b9b;
    text-align: left;
    float: left;
}

input,
textarea {
    font-family: "Proxima Nova Regular";
    background: #f7f7f7;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

input {
    height: 35px;
    padding-left: 20px;
}

textarea {
    height: 178px;
    padding: 20px;
    resize: none;
}

.feedback > button {
    height: 35px;
}

.contacts {
    font-size: 18px;
    line-height: 28px;
    color: #4a4a4a;
    text-align: left;
}

.contacts > div:first-child {
    margin-bottom: 20px;
}

.contacts > div > span {
    margin-bottom: 5px;
}

.contacts span {
    font-family: "Proxima Nova Semibold";
    display: block;
}

.contacts > div > a {
    font-family: "Proxima Nova Regular";
    color: #4a4a4a;
}

.about-photo {
    float: right;
}

.about-text {
    font-family: "Proxima Nova Regular";
    font-size: 18px;
    line-height: 28px;
    color: #4a4a4a;
    float: left;
}

.about-text > p + p {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.office {
    position: relative;
}

img.embed-responsive {
    display: none;
}

.description {
    background-color: #f7f7f7;
    position: absolute;
    right: 0;
}

.description > p {
    font-family: "Proxima Nova Regular";
    line-height: 1.3em;
    color: #4a4a4a;
    font-size: 16px;
}

.button {
    font-family: "Proxima Nova Semibold";
    color: #51595b;
    font-size: 14px;
    line-height: 1em;
    background: none;
    border: 2px solid #4a4a4a;
    width: 165px;
    height: 40px;
}

.publication {
    float: left;
}

.publication > span {
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    line-height: 22px;
}

.container > button {
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    line-height: 1em;
    color: #4a4a4a;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    background: none;
    border: solid 2px #4a4a4a;
}

.button,
.button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button {
    z-index: 0;
    border-radius: 0;
    position: relative;
}

.button::before,
.button::after {
    background: #4a4a4a;
    content: '';
    position: absolute;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.button:hover:after {
    width: 100%;
}

.foot-note {
    font-family: "Proxima Nova Regular";
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.foot-note p {
    margin-bottom: 0;
}

.footer {
    font-family: Gotham Pro Medium;
    font-size: 12px;
    background-color: #4a4a4a;
    padding: 0;
    line-height: .8px;
    width: 100%;
    =clear: both;
}

.footer > .nav {
    padding: 0;
    margin-top: 27px;
    margin-bottom: 21px;
}

.row.footer {
    margin-right: 0;
    margin-left: 0;
}

.footer > .social-sharing {
    padding: 0;
    margin-top: 21px;
    margin-bottom: 19px;
    vertical-align: bottom;
}

.footer .nav-item > .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 0;
    margin: 0 15px;
    line-height: 1;
}

.footer .nav-item > .nav-link:hover {
    color: #ab742d;
}

.footer > .social-sharing > a + a {
    margin-left: 32px;
}

@media (min-width: 1200px) {
    .language {
        margin-left: 180px;
    }
    .navbar-nav {
        margin-left: 231px;
    }
    .intro {
        background: url("../images/xl-main-photo.png");
        height: 643px;
        padding: 237px 241px;
    }
    .banner {
        padding: 45px 0;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 30px;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .intro > .social-sharing {
        margin-left: 287px;
        margin-top: 202px;
    }
    h3 {
        margin: 70px;
    }
    .services > div:first-child {
        padding: 40px 0 30px;
        margin-bottom: 30px;
    }
    .service1 > div:last-child {
        padding-left: 32px;
    }
    .service2 > div:last-child,
    .service3 > div:last-child {
        padding-left: 47px;
    }
    .comment {
        width: 920px;
        padding: 33px 95px 30px 25px;
    }
    .author {
        margin-right: 40px;
    }
    form {
        width: 445px;
        margin: 0 125px 70px 95px;
    }
    .about-photo {
        background: url("../images/xl-about.png");
        height: 590px;
        width: 445px;
    }
    .about-text {
        width: 635px;
        height: 588px;
    }
    .photo1 {
        background: url("../images/xl-photo-1.png");
        height: 508px;
        width: 730px;
    }
    .photo2 {
        background: url("../images/xl-photo-2.png");
        height: 508px;
        width: 730px;
        margin-top: 100px;
    }
    .description {
        padding: 50px 118px 50px 60px;
        top: 228px;
    }
    .description > p {
        margin-bottom: 86px;
    }
    .button {
        width: 165px;
        height: 40px;
    }
    .office2 {
        margin-bottom: 50px;
    }
    .publication {
        margin-right: 31px;
    }
    .publication > div {
        background: url("../images/xl-publication.png");
        width: 254px;
        height: 333px;
        margin-bottom: 20px;
    }
    .publication4 {
        margin-right: 0;
    }
    .container > button {
        margin: 70px 380px;
        width: 350px;
        height: 50px;
    }
    .foot-note {
        margin-left: 36px;
    }
    .footer > .social-sharing {
        margin-left: 15px;
    }
    .contacts-footer {
        margin-top: 281px;
    }
}

@media (max-width: 1199px) {
    .language {
        margin-left: 83px;
    }
    .navbar-nav {
        margin-left: 148px;
    }
    .intro {
        background: url("../images/l-main-photo.png");
        height: 544px;
        padding: 198px 200px;
    }
    .banner {
        padding: 41px 0 35px;
    }
    h1 {
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-bottom: 17px;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .intro > .social-sharing {
        margin-left: 226px;
        margin-top: 169px;
    }
    h3 {
        margin: 60px;
    }
    .about-h3-bottom {
        margin: 50px 0 70px;
    }
    .services img {
        height: 125px;
    }
    .services > div:first-child {
        padding: 48px 0 47px;
        margin-bottom: 30px;
    }
    .services > div:last-child {
        padding-left: 9px;
    }
    .comment {
        width: 100%;
        padding: 33px 80px 30px 25px;
    }
    .author {
        margin-right: 47px;
    }
    form {
        width: 450px;
        margin: 0 110px 60px 80px;
    }
    .about-photo {
        background: url("../images/l-about.png");
        height: 615px;
        width: 371px;
    }
    .about-text {
        width: 530px;
        height: 616px;
    }
    .photo1 {
        background: url("../images/l-photo-1.png");
        height: 382px;
        width: 530px;
    }
    .photo2 {
        background: url("../images/l-photo-2.png");
        height: 382px;
        width: 530px;
        margin-top: 80px;
    }
    .description {
        padding: 50px 57px 45px 50px;
        top: 132px;
    }
    .description > p {
        margin-bottom: 46px;
    }
    .button {
        width: 165px;
        height: 35px;
    }
    .office2 {
        margin-bottom: 30px;
    }
    .publication {
        margin-right: 30px;
    }
    .publication > div {
        background: url("../images/l-publication.png");
        width: 210px;
        height: 275px;
        margin-bottom: 20px;
    }
    .publication4 {
        margin-right: 0;
    }
    .container > button {
        margin: 70px 290px;
        width: 350px;
        height: 50px;
    }
    .foot-note {
        margin-left: 11px;
    }
    .footer > .social-sharing {
        margin-left: 45px;
    }
    .contacts-footer {
        margin-top: 311px;
    }
}

@media (max-width: 991px) {
    .language {
        margin-left: 6px;
    }
    .navbar-nav {
        margin-left: -15px;
    }
    .intro {
        background: url("../images/m-main-photo.png");
        height: 407px;
        padding: 122px 110px;
    }
    .banner {
        padding: 42px 0 34px;
    }
    h1 {
        font-size: 35px;
        letter-spacing: 1.2px;
        line-height: 0.92;
    }
    h5 {
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    .intro > .social-sharing {
        margin-left: 193px;
        margin-top: 111px;
    }
    h3 {
        margin: 50px;
    }
    .about-h3-bottom {
        margin: 0 0 60px;
    }
    .services img {
        height: 120px;
    }
    .services > div:first-child {
        padding: 45px 0;
        margin-bottom: 20px;
    }
    .services > div:last-child {
        padding-left: 11px;
    }
    .services h4,
    .services div:last-child ul {
        font-size: 14px;
    }
    .services div:last-child ul {
        line-height: 25px;
    }
    .comment {
        padding: 37px 60px 30px 25px;
    }
    .comment h4 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .comment a {
        font-size: 12px;
    }
    .description.review > p{
        font-size: 14px;
        line-height: 24px;
    }
    form {
        width: 390px;
        margin: 0 30px 50px 0;
    }
    .contacts {
        font-size: 14px;
    }
    .about-photo {
        background: url("../images/m-about.png");
        height: 446px;
        width: 269px;
    }
    .about-text {
        width: 388px;
        height: 552px;
        font-size: 14px;
        line-height: 24px;
    }
    .photo1 {
        background: url("../images/m-photo-1.png");
        height: 277px;
        width: 390px;
    }
    .photo2 {
        background: url("../images/m-photo-2.png");
        height: 277px;
        width: 390px;
        margin-top: 76px;
    }
    .description {
        padding: 30px 17px 30px 30px;
        top: 73px;
    }
    .description > p {
        margin-bottom: 40px;
    }
    .office2 {
        margin-bottom: 35px;
    }
    .publication3 {
        margin-right: 0;
    }
    .publication4 {
        display: none;
    }
    .container > button {
        margin: 60px 170px;
    }
    .foot-note {
        margin-bottom: 15px;
    }
    .contacts-footer {
        margin-top: 341px;
    }
}

@media (max-width: 767px) {
    .burger {
        display: block;
        margin-top: 25px;
        margin-bottom: 43px;
    }
    .menu {
        text-align: center;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .35s;
        z-index: 25;
    }
    .menu.open {
        opacity: 1;
        visibility: visible;
        transition: all .35s .35s;
    }
    .container:before {
         content: '';
         background: white;
         left: -55%;
         top: 0;
         width: 50%;
         height: 100%;
         position: absolute;
         transition: left .35s .35s ease;
         z-index: 20;
     }
    .container:after {
         content: '';
         background: white;
         right: -55%;
         top: 0;
         width: 50%;
         height: 100%;
         position: absolute;
         transition: right .35s .35s ease;
         z-index: 20;
    }
    .container.open:before {
        left: 0;
        transition: left .35s ease;
    }
    .container.open:after {
        right: 0;
        transition: right .35s ease;
    }
    .navbar-nav {
        font-family: Gotham Pro Bold;
        font-size: 16px;
        text-align: center;
        margin: 0;
    }
    .navbar-nav > .nav-item {
        display: block;
        margin-bottom: 40px;
    }
    .navbar-nav > .nav-item:nth-last-child(2) {
        display: block;
        margin-bottom: 60px;
    }
    .navbar-nav > .nav-item > .nav-link {
        line-height: 1;
        letter-spacing: 0.5px;
        margin: 0;
    }
    .navbar-nav > .language {
        position: fixed;
        top: 40px;
        margin-left: 226px;
        width: 100%;
        font-family: "Gotham Pro Medium";
        font-size: 12px;
        letter-spacing: 1px;
    }
    .social-sharing.dark {
        display: inline;
    }
    .intro {
        background: url("../images/s-main-photo.png");
        height: 305px;
        padding: 80px 88px;
        margin-top: 86px;
    }
    .banner {
        padding: 40px 0 31px;
    }
    h1 {
        font-size: 26px;
        letter-spacing: 0.9px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 12px;
        letter-spacing: 0.9px;
    }
    .intro > .social-sharing {
        display: none;
    }
    h3 {
        font-size: 20px;
        letter-spacing: 0.7px;
        margin: 40px;
    }
    .about-h3-top {
        margin-top: 86px;
    }
    .about-h3-bottom {
        margin: 0 0 50px;
    }
    .services > div {
        margin-bottom: 30px;
    }
    .services > div:last-child {
        padding-left: 10px;
    }
    .services > div:last-child ul {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .services > div:first-child,
    .services > div:last-child {
        display: inline-block;
        float: left;
        width: 240px;
    }
    .services > div:first-child {
        margin-right: 30px;
        margin-bottom: 0;
    }
    .service3 > div {
        margin-bottom: 0;
    }
    .comment {
        padding: 39px 15px 29px 20px;
    }
    .author {
        margin-right: 54px;
    }
    .comment h4 {
        font-family: "Proxima Nova Semibold";
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 17px;
    }
    .comment a {
        font-family: "Proxima Nova Regular";
    }
    .description.review > p{
        font-size: 12px;
        line-height: 20px;
    }
    form {
        width: 330px;
        font-size: 12px;
        margin: 0 30px 40px 0;
    }
    .contacts {
        font-size: 12px;
        overflow: hidden;
    }
    .feedback > button {
        height: 30px;
    }
    .about-photo {
        background: url("../images/s-about.png");
        height: 450px;
        width: 510px;
    }
    .about-text {
        margin-top: 40px;
        width: 510px;
        height: 340px;
        font-size: 12px;
        line-height: 20px;
    }
    .about-text > p + p {
        margin-top: 1.8em;
    }
    h4 {
        font-size: 12px;
        line-height: 1.25;
        margin-bottom: 10px;
    }
    .photo1 {
        background: url("../images/s-photo-1.png");
        height: 208px;
        width: 330px;
    }
    .photo2 {
        background: url("../images/s-photo-2.png");
        height: 208px;
        width: 330px;
        margin-top: 60px;
    }
    .description {
        padding: 20px 55px 20px 25px;
        top: 78px;
    }
    .description > p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .button {
        font-family: "Proxima Nova Regular";
        color: #4a4a4a;
        font-size: 12px;
        width: 130px;
        height: 30px;
    }
    .office2 {
        margin-bottom: 30px;
    }
    .publication > div {
        background: url("../images/s-publication.png");
        width: 150px;
        height: 197px;
        margin-bottom: 10px;
    }
    .publication > span {
        font-size: 12px;
        display: inline-block;
        width: 120px;
    }
    .container > button {
        font-family: "Proxima Nova Semibold";
        font-size: 14px;
        margin: 50px 110px;
        width: 290px;
        height: 39px;
    }
    .foot-note {
        font-size: 10px;
        line-height: 14px;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .footer {
        display: none;
    }
}

@media (max-width: 575px) {
    .burger-line {
        width: 560px;
        background: none;
    }
    .burger {
        margin-top: 30px;
    }
    .menu {
        top: 98px;
    }
    .navbar-nav > .nav-item {
        margin-bottom: 35px;
    }
    .navbar-nav > .language {
        width: 32px;
        top: 41px;
        right: 19px;
    }
    .intro {
        background: white;
        padding: 31px 0 0 0;
        margin-top: 0;
        height: 91px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
    }
    .intro.no-photo {
        display: block;
    }
    .banner {
        background: none;
        padding: 0;
    }
    h1 {
        font-size: 16px;
        line-height: 0.96;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        color: #4a4a4a;
    }
    h5 {
        font-size: 8px;
        line-height: 0.9;
        letter-spacing: 0.6px;
        color: #4a4a4a;
        margin-bottom: 4px;
    }
    h3 {
        display: none;
    }
    .about-h3-top {
        margin-top: 91px;
    }
    .about-h3-bottom {
        margin: 0 0 50px;
    }
    .services > div:last-child {
        padding-left: 10px;
    }
    .services > div:first-child,
    .services > div:last-child {
        display: block;
        float: none;
        width: 100%;
    }
    .services > div:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .service3 > div {
        margin-bottom: 0;
    }
    .comment {
        position: relative;
        padding: 36px 10px 29px 10px;
    }
    .author {
        margin-bottom: 15px;
    }
    .description.review > h4 {
        position: absolute;
        top: 36px;
        left: 135px;
        margin-right: 10px;
        text-align: center;
    }
    .description.review {
        clear: both;
    }
    form {
        width: 100%;
        margin-top: 182px;
        margin-right: 0;
    }
    .contacts {
        clear: both;
        position: absolute;
        top: 156px;
    }
    .about-photo {
        display: none;
    }
    .about-text {
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }
    .about-text > p + p {
        margin-top: 1.7em;
    }
    .office1 {
        margin-top: 91px;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .photo1 {
        display: none;
    }
    .photo2 {
        display: none;
    }
    img.embed-responsive {
        display: block;
    }
    .description {
        padding: 17px 15px 20px 24px;
        position: static;
    }
    .description > p {
        margin-bottom: 16px;
    }
    .office2 {
        margin-bottom: 0;
    }
    .publication {
        float: none;
        max-width: calc((100% - 30px)/2);
    }
    .publication3 {
        display: none;
    }
    .publication1 {
        float: left;
        margin-right: 30px;
    }
    .publication2 {
        margin-right: 0;
        float: right;
    }
    .publication > div {
        display: none;
    }
    .publication > span {
        display: inline-block;
        font-size: 13px;
        width: 80%;
    }
    .container > button {
        margin: 40px 0;
    }
}